@using Senparc.Weixin.MP.Sample.CommonService.Emotion
@using Senparc.Weixin.MP.Sample.MySQL.Models
@{
    ViewData["Title"] = "Senparc.Weixin SDK + Azure MySQL";
    var emotionLogList = ViewData["EmotionResults"] as List<EmotionResult>;
}
<div class="emotion-log-wrapper">
    <div class="header">
        <div>
            <img src="@ViewData["HeadUrl"]" />
            <p>@ViewData["UserName"] </p>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <td></td>
                <td>生气</td>
                <td>轻蔑</td>
                <td>厌恶</td>
                <td>害怕</td>
                <td>高兴</td>
                <td>伤心</td>
                <td>惊喜</td>
                <td>中立</td>
            </tr>
        </thead>
        <tbody>
            @{ 
                var i = 0;
            }
            @foreach (var emotionLog in emotionLogList)
            {
                i++;
                <tr>
                    <td>@(i).</td>
                    <td>@emotionLog.Scores.Anger.ToString("p")</td>
                    <td>@emotionLog.Scores.Contempt.ToString("p")</td>
                    <td>@emotionLog.Scores.Disgust.ToString("p")</td>
                    <td>@emotionLog.Scores.Fear.ToString("p")</td>
                    <td>@emotionLog.Scores.Happiness.ToString("p")</td>
                    <td>@emotionLog.Scores.Sadness.ToString("p")</td>
                    <td>@emotionLog.Scores.Surprise.ToString("p")</td>
                    <td>@emotionLog.Scores.Neutral.ToString("p")</td>
                </tr>
            }
        </tbody>
    </table>

</div>
